body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f9;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
h2 {
    color: #4285F4;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-bottom: 30px;
}
input, select {
    width: calc(100% - 16px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}
input:focus, select:focus {
    border-color: #3f80e8;
    outline: none;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #3f80e8;
}
#clearForm {
    background-color: #4285F4;
}
#clearForm:hover {
    background-color: #3f80e8;
}
.error-message {
    color: rgb(244, 100, 100);
    font-size: 12px;
    margin-top: 5px;
}